.main-page {
  overflow: hidden;
  height: 100vh;
  background: url("../../../Images/MarioBlurBackground.jpg") center center/cover
    no-repeat;
  background-size: 100% 100%;
}
.main-header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.main-home {
  border: 1px solid black;
  background-color: #fbc45d;
  color: rgb(75, 74, 74);
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 10%;
}
.main-home a {
  text-decoration: none;
  color: rgb(75, 74, 74);
}
.main-home:hover {
  cursor: pointer;
  opacity: 0.8;
}
.main-adminpanel {
  border: 1px solid black;
  background-color: #fbc45d;
  color: rgb(75, 74, 74);
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 10%;
}
.main-adminpanel a {
  text-decoration: none;
  color: rgb(75, 74, 74);
}
.main-adminpanel:hover {
  cursor: pointer;
  opacity: 0.8;
}
.main-homepage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-btn-playgame {
  border: 1px solid black;
  background-color: #fbc45d;
  color: rgb(75, 74, 74);
  font-weight: bold;
  padding: 1rem 5rem;
  font-size: 3rem;
}
.homepage-btn-playgame:hover {
  opacity: 0.8;
  cursor: pointer;
}
