.main-page {
  height: 100vh;
  background: url("../../../Images/MarioBlurBackground.jpg") center center/cover
    no-repeat;
  background-size: 100% 100%;
}
.main-header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.main-home {
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  border-radius: 10%;
}
