.main-page {
  height: 100vh;
  background: url("../../../Images/MarioBlurBackground.jpg") center center/cover
    no-repeat;
  background-size: 100% 100%;
}
.main-header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.main-home {
  border: 1px solid black;
  background-color: #fbc45d;
  color: rgb(75, 74, 74);
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 10%;
}
.main-home:hover {
  cursor: pointer;
}
