.main-container {
  background: url(./Images/bluebackground.jpg);
}
.App {
  opacity: 1;
  background-color: #5d94fb;
  width: 75vw;
  margin: auto;
}
#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
